<!-- Dashboard cabecera -->
<section class="db__header">
    <section class="db__header-row">
        <div class="db__header__text-wrapper">
            <h2 class="db__header__title">Detalle</h2>
            <span class="db__header__description">Información completa de la coleccion</span>
        </div>
        <div class="db__header__btn">
            <button id="back_btn" class="btn-square--db btn-square--db-discard" type="reset">
                <iconify-icon icon="tabler:circle-arrow-left" width="2.2rem" height="2.2rem"></iconify-icon>
                Regresar</button>
            <a class="btn-square--db" href="/admin/product/edit/<%= product.product_id %>">
                <iconify-icon icon="tabler:edit" width="2.2rem" height="2.2rem"></iconify-icon>
                Editar</a>
        </div>
    </section>
</section>


<section class="db__body">

    <!-- Columna primaria -->
    <section class="db-col-2">

        <!-- Informacion de general -->
        <article class="card">
            <section class="card__header">
                <h4 class="card__title">Informacion general</h4>
            </section>

            <section class="card__body">
                <div class="card__row">
                    <div class="card__inputs-group">
                        <h5>Nombre</h5>
                        <p><%= product.product_name %></p>
                    </div>
                </div>

                <div class="card__row">
                    <div class="card__inputs-group">
                        <h5>Descripcion</h5>
                        <p><%= product.product_description %></p>
                    </div>
                </div>

                <div class="card__row card-col-2">
                    <div class="card__inputs-group">
                        <h5>Coleccion</h5>
                        <p><a class="label__link" href="/admin/collection/detail/<%= product.collection_id %>"><%= product.collection_name %></a></p>
                    </div>
                </div>
            </section>
        </article>

        <!-- Imagenes -->
        <article class="card ">
            <section class="card__header">
                <h4 class="card__title">Imagenes</h4>
            </section>

            <section class="card__body">
                <div class="card__row card-col-2">
                    <div class="card__inputs-group">
                        <h5 for="img_front">Producto</h5>
                        <div class="card__figure">
                            <picture>
                                <img src="<%= product.img_front %>" alt="" srcset="">
                            </picture>
                        </div>
                    </div>

                    <div class="card__inputs-group">
                        <h5>Paquete</h5>
                        <div class="card__figure">
                            <picture>
                                <img src="<%= product.img_back %>" alt="" srcset="">
                            </picture>
                        </div>
                    </div>
                </div>
            </section>
        </article>
    </section>

    <!-- Columna secundaria -->
    <section class="db-col-1">

        <!-- Precio -->
        <article class="card">
            <section class="card__header">
                <h4 class="card__title">Precio</h4>
            </section>
            <section class="card__body">

                <div class="card__row">
                    <div class="card__inputs-group">
                        <h5>Precio</h5>
                        <p>$<%= product.product_price %></p>
                    </div>
                </div>

                <div class="card__row card-col-2">

                    <div class="card__inputs-group">
                        <h5 for="product_discount" >Descuento</h5>
                        <p><%= product.product_discount %>%</p>
                    </div>

                    <div class="card__inputs-group">
                        <h5 for="product_discount" >Con descuento aplicado</h5>
                        <p>$<%= (product.product_price * (100 - product.product_discount)  / 100 )%> </p>
                    </div>
                </div>
                <div class="card__row">
                    <div class="card__inputs-group">
                            <h5>Cuotas</h5>
                            <p><%= product.product_dues %> Sin interes, Valor cuota: $<%= (product.product_price * (100 - product.product_discount)  / 100 ) / product.product_dues %> </p>
                    </div>
                </div>
            </section>
        </article>

        <!-- Inventario -->
        <article class="card">
            <section class="card__header">
                <h4 class="card__title">Inventario</h4>
            </section>
            <section class="card__body">
                <div class="card__row">
                    <div class="card__inputs-group">
                        <h5>Provedor</h5>
                        <p><a class="label__link" href="/admin/provider/detail/<%= product.provider_id %>"><%= product.provider_name %></a></p>
                    </div>
                </div>
                <div class="card__row">

                    <div class="card__inputs-group">
                        <h5 for="product_sku" >SKU</h5>
                        <p><%= product.collection_sku %><%= product.product_sku %></p>
                    </div>
                </div>
                <div class="card__row card-col-2">
                    <div class="card__inputs-group">
                        <h5>Stock</h5>
                        <p><%= product.product_stock %></p>
                    </div>
                    <div class="card__inputs-group">
                        <h5>Estado</h5>
                        <p>Disponible</p>
                    </div>
                </div>

            </section>
        </article>

        <!-- Varios -->
        <article class="card">
            <section class="card__header">
                <h4 class="card__title">Varios</h4>
            </section>
            <section class="card__body">
                <div class="card__row">

                    <div class="card__inputs-group">

                    </div>

                    <div class="card__inputs-group">

                    </div>

                    <div class="card__inputs-group">

                        </select>
                    </div>
                </div>
            </section>
        </article>

    </section>

</section>