<!-- Dashboard cabecera -->
<section class="db__header">
    <section class="db__header-row">
        <div class="db__header__text-wrapper">
            <h2 class="db__header__title">Colecciónes en home</h2>
            <span class="db__header__description">Lista de colecciónes que se muestran en la página principal</span>
        </div>
        <div class="db__header__btn">
            <a class="btn-square--db btn-square--db-discard" href="/admin/collections">
                <iconify-icon icon="tabler:circle-x" width="2.2rem" height="2.2rem"></iconify-icon>
                Cancelar</a>
            <a class="btn-square--db" href="/admin/collection/add">
                <iconify-icon icon="tabler:circle-check" width="2.2rem" height="2.2rem"></iconify-icon>
                Guardar</a>
        </div>
    </section>
</section>

<section class="db__body">

    <article class="card-db">
        <section class="card-db__header">
            <form class="form-admin" action="">
                <table class="table-admin">
                    <thead class="table-admin__head">
                        <tr class="table-admin__tr">
                            <th class="table-admin__td">Orden</th>
                            <th class="table-admin__td">Nombre</th>
                            <th class="table-admin__td" colspan="2">Descripcion</th>
                            <th class="table-admin__td">Portada</th>
                            <th class="table-admin__td">Mostrar</th>
                            <th class="table-admin__td">Editar</th>
                            <th class="table-admin__td"></th>
                        </tr>
                    </thead>
                    <tbody class="table-admin__body">
                            <% collections.forEach((collection) => { %>
                                <tr class="table-admin__tr" data-id="<%= collection.collection_id %>">
                                    <td id="ch_order" class="table-admin__td table-admin__td--center">
                                        <%= collection.ch_order %>
                                    </td>
                                    <td class="table-admin__td">
                                        <%= collection.collection_name %>
                                    </td>
                                    <td class="table-admin__td" colspan="2">
                                        <%= collection.collection_description %>
                                    </td>
                                    <td class="table-admin__td">
                                        <picture class="table-admin__img">
                                            <img src="<%= collection.collection_img %>" alt="" srcset="">
                                        </picture>
                                    </td>
                                    <td id="ch_active" class="table-admin__td table-admin__icon table-admin__td--center">
                                        <input class="input--checkbox" type="checkbox" name="" id=""  <% if(collection.ch_active == 1) {%> checked <% } %> >
                                    </td>
                                    <td class="table-admin__td table-admin__icon">
                                        <a class="table-admin__icon--edit" href="/admin/collection/edit/<%= collection.collection_id %>">
                                            <iconify-icon icon="tabler:edit"></iconify-icon>
                                        </a>
                                    </td>
                                    <td class="table-admin__td table-admin__icon">
                                        <iconify-icon class="table-admin__icon--move" icon="akar-icons:two-line-horizontal"></iconify-icon>
                                    </td>
                                </tr>
                            <% }) %>
                    </tbody>
                </table>
        </section>
    </article>
</section>
