<article class="card-admin card-admin--head">
    <h2 class="content__title">Colecciónes</h2>
    <div class="card-admin__btn-container">

        <a class="btn-square" href="/admin/collection/add">Listado home</a>
        <a class="btn-square" href="/admin/collection/add">Nueva colección</a>
    </div>
</article>
<article class="card-admin">
    <table id="adminTable" class="table-admin">
        <thead class="table-admin__head">
            <tr class="table-admin__tr">
                <th class="table-admin__td">ID</th>
                <th class="table-admin__td">Nombre</th>
                <th class="table-admin__td">SKU</th>
                <th class="table-admin__td" colspan="3">Descripción</th>
                <th class="table-admin__td" data-sortable="false"></th>
                <th class="table-admin__td" data-sortable="false"></th>
            </tr>
        </thead>
        <tbody class="table-admin__body">
            <% collections.forEach((collection)=> { %>
                <tr class="table-admin__tr">
                    <td class="table-admin__td">
                        <%= collection.collection_id %>
                    </td>
                    <td class="table-admin__td">
                        <%= collection.collection_name %>
                    </td>
                    <td class="table-admin__td">
                        <%= collection.collection_sku %>
                    </td>
                    <td class="table-admin__td" colspan="3">
                        <%= collection.collection_description %>
                    </td>
                    <td class="table-admin__td table-admin__icon">
                        <a class="table-admin__icon--edit" href="/admin/collection/edit/<%= collection.collection_id %>">
                            <iconify-icon icon="akar-icons:edit"></iconify-icon>
                        </a>
                    </td>
                    <td class="table-admin__td table-admin__icon">
                        <a class="table-admin__icon--delet" href="">
                            <iconify-icon icon="akar-icons:circle-x"></iconify-icon>
                        </a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</article>
