<!-- Dashboard cabecera -->
<form class="form-ch" action="" method="POST">
<section class="db__header">
    <section class="db__header-row">
        <div class="db__header__text-wrapper">
            <h2 class="db__header__title">Colecciónes en home</h2>
            <span class="db__header__description">Lista de colecciónes que se muestran en la página principal</span>
        </div>
        <div class="db__header__btn">
            <button id="back_btn" class="btn-square--db btn-square--db-discard" type="reset">
                <iconify-icon icon="tabler:circle-x" width="2.2rem" height="2.2rem"></iconify-icon>
                Cancelar</button>
            <button class="btn-square--db" type="submit">
                <iconify-icon icon="tabler:circle-check" width="2.2rem" height="2.2rem"></iconify-icon>
                Guardar</button>
        </div>
    </section>
</section>

<section class="db__body">

    <article class="card-db">
        <section class="card-db__header">

            <ul class="ch__ul">
                <% collections.forEach((collection)=> { %>
                    <li class="ch__li" data-id="<%= collection.collection_id %>">
                        <div class="ch__box">
                            <picture class="ch__box--picture">
                                <img src="<%= collection.collection_img %>" alt="" srcset="">
                            </picture>
                        </div>
                        <div class="ch__box ch__box--name">
                            <%= collection.collection_name %>
                        </div>
                        <div class="ch__box">
                            <%= collection.collection_description %>
                        </div>
                        <div class="ch__box">
                            <div id="" class="ch__box ch__box--active">
                                <input class="input--checkbox" type="checkbox" name="ch_active" id="" <% if(collection.ch_active==1) {%> checked <% } %> >
                                <label class="label" for="ch_active">Mostrar</label>
                            </div>

                            <div class="ch__box--icon">
                                <a class="table-admin__icon--edit" href="/admin/collection/edit/<%= collection.collection_id %>">
                                    <iconify-icon icon="tabler:edit"></iconify-icon>
                                </a>
                            </div>
                        </div>
                    </li>
                <% }) %>
            </ul>
            <span>Arrastre las colecciones en el orden deseado</span>
        </section>
    </article>
</section>
</form>

<!-- jsDelivr :: Sortable :: Latest (https://www.jsdelivr.com/package/npm/sortablejs) -->
<script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>