    <!-- Dashboard cabecera -->
    <section class="db__header">
        <section class="db__header-row">
            <div class="db__header__text-wrapper">
                <h2 class="db__header__title">Productos</h2>
                <span class="db__header__description">Listado de productos</span>
            </div>
            <div class="db__header__btn">
                <a class="btn-square--db" href="/admin/product/add">
                    <iconify-icon icon="tabler:circle-plus" width="2.2rem" height="2.2rem"></iconify-icon>
                    Nuevo producto</a>
            </div>
        </section>
    </section>

    <section class="db__body">

        <article class="card-db">
            <section class="card-db__header">
            <table id="adminTable" class="table-admin">
                    <thead class="table-admin__head">

                        <tr class="table-admin__tr">
                            <th class="table-admin__td">ID</th>
                            <th class="table-admin__td">Colección</th>
                            <th class="table-admin__td" colspan="2">Nombre</th>
                            <th class="table-admin__td">Precio</th>
                            <th class="table-admin__td">Stock</th>
                            <th class="table-admin__td">Proveedor</th>
                            <th class="table-admin__td" data-sortable="false"></th>
                            <th class="table-admin__td" data-sortable="false"></th>
                        </tr>
                    </thead>
                    <tbody class="table-admin__body">
                        <% products.forEach((product)=> { %>
                            <tr class="table-admin__tr">
                                <td class="table-admin__td">
                                    <%= product.product_id %>
                                </td>
                                <td class="table-admin__td">
                                    <a class="table-admin__icon--edit" href="/admin/collection/detail/<%= product.collection_id %>">
                                        <%= product.collection_name %>
                                    </a>
                                </td>
                                <td class="table-admin__td" colspan="2">
                                    <a class="table-admin__icon--edit" href="/admin/product/detail/<%= product.product_id %>">
                                        <%= product.product_name %>
                                    </a>
                                </td>
                                <td class="table-admin__td">
                                    $ <%= product.product_price %>
                                </td>
                                <td class="table-admin__td">
                                    <%= product.product_stock %>
                                </td>
                                <td class="table-admin__td">
                                    <a class="table-admin__icon--edit" href="/admin/provider/detail/<%= product.provider_id %>">
                                        <%= product.provider_name %>
                                    </a>
                                </td>
                                <td class="table-admin__td table-admin__icon">
                                    <a class="table-admin__icon--edit" href="/admin/product/detail/<%= product.product_id %>">
                                        <iconify-icon icon="tabler:list"></iconify-icon>
                                    </a>
                                </td>
                                <td class="table-admin__td table-admin__icon" width="30">
                                    <a class="table-admin__icon--edit" href="/admin/product/edit/<%= product.product_id %>">
                                        <iconify-icon icon="tabler:edit"></iconify-icon>
                                    </a>
                                </td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </section>
        </article>
    </section>