<!-- Dashboard cabecera -->
<section class="db__header">
    <section class="db__header-row">
        <div class="db__header__text-wrapper">
            <h2 class="db__header__title">Proveedores</h2>
            <span class="db__header__description">Listado de proveedores</span>
        </div>
        <div class="db__header__btn">
            <a class="btn-square--db" href="/admin/provider/add">
                <iconify-icon icon="tabler:circle-plus" width="2.2rem" height="2.2rem"></iconify-icon>
                Nuevo Provedor</a>
        </div>
    </section>
</section>


<section class="db__body">

    <article class="card">
        <section class="card__body">
            <table id="adminTable" class="table-admin">
                <thead class="table-admin__head">
                    <tr class="table-admin__tr">
                        <th class="table-admin__td">ID</th>
                        <th class="table-admin__td">Nombre</th>
                        <th class="table-admin__td">Telefono</th>
                        <th class="table-admin__td" colspan="2">Observacion</th>
                        <th class="table-admin__td" data-sortable="false"></th>
                        <th class="table-admin__td" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody class="table-admin__body">
                    <% providers.forEach((provider)=> { %>
                        <tr class="table-admin__tr">
                            <td class="table-admin__td">
                                <%= provider.provider_id %>
                            </td>
                            <td class="table-admin__td">
                                <%= provider.provider_name %>
                            </td>
                            <td class="table-admin__td">
                                <%= provider.provider_tel %>
                            </td>
                            <td class="table-admin__td" colspan="2"><%= provider.provider_observation %></td>
                            <td class="table-admin__td table-admin__icon">
                                <a class="table-admin__icon--edit" href="/admin/provider/detail/<%= provider.provider_id %>">
                                    <iconify-icon icon="tabler:list"></iconify-icon>
                                </a>
                            </td>
                            <td class="table-admin__td table-admin__icon" width="30">
                                <a class="table-admin__icon--edit" href="/admin/provider/edit/<%= provider.provider_id %>">
                                    <iconify-icon icon="tabler:edit"></iconify-icon>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </article>
</section>
