<!-- Dashboard cabecera -->
<section class="db__header">
    <section class="db__header-row">
        <div class="db__header__text-wrapper">
            <h2 class="db__header__title">Usuarios</h2>
            <span class="db__header__description">Lista de clientes</span>
        </div>
        <div class="db__header__btn">
            <a class="btn-square--db" href="/auth/register">
                <iconify-icon icon="tabler:user-plus" width="2.2rem" height="2.2rem"></iconify-icon>
                Registrar un usuario</a>
        </div>
    </section>
</section>

<section class="db__body">

    <article class="card-db">
        <section class="card-db__header">
            <table id="adminTable" class="table-admin">
                <thead class="table-admin__head">
                    <tr class="table-admin__tr">
                        <th class="table-admin__td">ID</t>
                        <th class="table-admin__td">Nombre</th>
                        <th class="table-admin__td">Apellido</th>
                        <th class="table-admin__td">Correo</th>
                        <th class="table-admin__td" data-sortable="false"></th>
                        <th class="table-admin__td" data-sortable="false"></th>
                    </tr>
                </thead>
                <tbody class="table-admin__body">
                    <% users.forEach((user)=> { %>
                        <tr class="table-admin__tr">
                            <td class="table-admin__td">
                                <%= user.user_id %>
                            </td>
                            <td class="table-admin__td">
                                <%= user.user_name %>
                            </td>
                            <td class="table-admin__td">
                                <%= user.user_lastname %>
                            </td>
                            <td class="table-admin__td">
                                <%= user.user_email %>
                            </td>
                            <td class="table-admin__td table-admin__icon">
                                <a class="table-admin__icon--delet" href="">
                                    <iconify-icon icon="tabler:list"></iconify-icon>
                                </a>
                            </td>
                            <td class="table-admin__td table-admin__icon" width="30">
                                <a class="table-admin__icon--edit" href="/admin/users/edit/:<%= users.users_id %>">
                                    <iconify-icon icon="tabler:edit"></iconify-icon>
                                </a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </section>
    </article>
</section>
