<h2 class="content__title">Editar producto</h2>
<article class="card-admin card-admin--add">
    <form class="form-admin" action="">
        <!-- FILA -->
        <div class="form-admin__row">
            <div class="form-admin__box">
                <label for="product_name" class="label">Nombre</label>
                <input type="text" class="input" id="product_name" name="product_name" value="<%= product.product_name %>">
            </div>
        </div>

        <!-- FILA -->
        <div class="form-admin__row form-admin__row-3">
            <div class="form-admin__box">
                <label for="product_description" class="label">Descripcion</label>
                <textarea name="product_description" id="product_description" class="input input-textarea"><%= product.product_description %></textarea>
            </div>
        </div>

        <!-- FILA -->
        <div class="form-admin__row">
            <div class="form-admin__box">
                <label for="collection_name" class="label">Coleccion</label>
                <select class="input input--select" name="collection_name"
                    id="collection_name">
                    <option value="null" selected>---</option>
                    <% collections.forEach((collection)=>{%>
                        <option value="<%= collection.collection_id %>" <% if (product.collection_id == collection.collection_id) { %> selected <% } %> >
                            <%= collection.collection_name %>
                        </option>
                        <%}) %>
                </select>
            </div>

            <div class="form-admin__box">
                <label for="product_sku" class="label">SKU (<%= product.collection_sku %>)</label>
                <input type="text" class="input" id="product_sku" name="product_sku" value="<%= product.product_sku %>">
            </div>

            <div class="form-admin__box">
                <label for="product_stock" class="label">Stock</label>
                <input type="number" class="input --hide-arrows" id="product_stock" name="product_stock" value="<%= product.product_stock %>">
            </div>

            <div class="form-admin__box">
                <label for="product_price" class="label">Precio</label>
                <input type="number" class="input --hide-arrows" id="product_price" name="product_price" value="<%= product.product_price %>">
            </div>

            <div class="form-admin__box">
                <label for="product_discount" class="label">Descuento</label>
                <input type="number" class="input --hide-arrows" id="product_discount" name="product_discount" value="<%= product.product_discount %>">
            </div>

            <div class="form-admin__box">
                <label for="product_dues" class="label">Cuotas</label>
                <select class="input input--select" name="product_dues" id="product_dues">
                    <option value="0" <% if (product.product_dues == '0') { %> selected <% } %> >0</option>
                    <option value="3" <% if (product.product_dues == '3') { %> selected <% } %> >3</option>
                    <option value="6" <% if (product.product_dues == '6') { %> selected <% } %> >6</option>
                    <option value="12" <% if (product.product_dues == '12') { %> selected <% } %> >12</option>
                </select>
            </div>
        </div>

        <!-- FILA -->
        <div class="form-admin__row">
            <div class="form-admin__box">
                <label for="img_front" class="label">Producto</label>
                <div class="form-admin__box-img">
                    <label for="img_front" class="form-admin__figure">
                        <img src="<%= product.img_front %>" alt="" srcset="">
                    </label>
                    <input type="file" name="img_front" id="img_front">
                </div>
            </div>
            
            <div class="form-admin__box">
                <label for="img_back" class="label">Paquete</label>
                <div class="form-admin__box-img">
                    <label for="img_back" class="form-admin__figure">
                        <img src="<%= product.img_back %>" alt="" srcset="">
                    </label>
                    <input type="file" name="img_back" id="img_back">
                </div>
            </div>
        </div>

        <!-- FILA -->
        <div class="form-admin__row">
            <!-- BOTONES -->
            <button class="btn-square" type="submit">Aceptar</button>
            <a class="btn-square btn--gray" href="/admin/products">Cancelar</a>
        </div>
    </form>
</article>
